# The port on which the project is launched
PORT = 8720

# Site title
TITLE = JourneyMap Static Viewer

# Path of original tiles (or .minecraft/journeymap/data/sp/world/overworld/day)
TILES_PATH = ./original_tiles
