.map {
  position: relative;

  img,
  canvas {
    position: absolute;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
  }
}

.coordinates {
  position: absolute;
  display: flex;
  width: fit-content;
  height: 32px;
  top: 8px;
  right: 8px;
  margin-inline: auto;
  background-color: #eee;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);

  .cell {
    display: flex;
    align-items: center;
    width: 100px;
    padding: 0 8px;

    &:not(:first-child) {
      border-left: 1px solid #999;
    }
  }
}
